{% extends "userjournal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Delete Entry
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger float-right" type="submit">Confirm Delete</button>
                <a class="btn btn-outline-secondary mt-1 mb-1" href="{% url 'update' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}